<section class="hero hero--center">
	<img class="hero__image" src="https://images.unsplash.com/photo-1547845662-08919068676f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1536&q=80">
  <div class="container container--adaptive-sm">
    <div class="hero__content">
      <div class="text--xxxl">
				<div class="text--xxxl flex flex--column">
        	<span class="owi owi-{{icon}}" aria-hidden="true"></span>
				</div>
			</div>
			<div class="text--xxxl">
				{{text}}
			</div>
			<div class="text--xl margin-top--xs">
				<strong>{{temp}}°</strong>
			</div>
    </div>
  </div>
</section>
