<div class="weather-item weather__code">
	<i class="wi wi-yahoo-{{ code }}"></i>
</div>
<div class="weather-item weather__condition">
	{{ text }}
</div>
<div class="weather-item weather__temp">
	{{ temp }}&deg;
</div>
